<div class="value-proposition-section">
  <div class="text">
    <img class="bg-image" src="../../../assets/valueProposition-bg.png" alt="" />

    <h3>Supercharge Your Media Strategy with Our 100% Efficiency</h3>
    <section>
      <div class="benifits">
        <div class="icon">
          <img src="../../../assets/icons/correct-icon.png" alt="" />
        </div>
        <p>Plan, Book, and Manage Campaigns</p>
      </div>
      <div class="benifits">
        <div class="icon">
          <img src="../../../assets/icons/correct-icon.png" alt="" />
        </div>

        <p>Maximize Reach and ROI</p>
      </div>
    </section>

    <button class="ctaButton-2">Optimize Your Media Today ></button>
  </div>
</div>
