<div class="footer-section">
  <div class="logo-section">
    <img class="logo" src="../../../assets/logo-white.png" alt="" />

    <label class="tagline">The Future Media Hub</label>
    <div class="social-media-links">
      <div class="linkedIn">
        <img src="../../../assets/icons/linkedIn.png" alt="" />
      </div>
      <div class="twitter">
        <img src="../../../assets/icons/twitter.png" alt="" />
      </div>
    </div>
  </div>
  <div class="links-section">
    <h3>Useful Links</h3>
    <div class="links">
      <a href="">The Platform</a>
      <a href="">Contact Us</a>
      <a href="">Features</a>
      <a href="">About Us</a>
      <a href="">Benifits</a>
      <a href="">Privacy POlicy</a>
      <a href="">Request a Demo</a>
      <a href="">Terms of Service</a>
    </div>
  </div>
  <div class="contactUs-section">
    <h3>Contact Us</h3>
    <div class="location">
      <div class="location-icon">
        <img
          class=""
          src="../../../assets/icons/location-icon.png"
          alt=""
        />

      </div>
      <a href="">Makateb 2 Building Floor 4, Office 406
        Dubai Production City, Dubai<br>
        United Arab Of Emirates</a>
    </div>
    <div class="email">
      <div class="mail-icon">

        <img class="" src="../../../assets/icons/mail-icon.png" alt="" />
      </div>
      <a href="mailto:admin@mediaalacarte.net">admin&#64;mediaalacarte.net</a>
    </div>
  </div>



</div>
<div class="copyright">
        <p>&copy; 2024 Media Alacarte Agency FZ LLC - All Rights Reserved.</p>
    </div>
