<div class="analytics-section">
  <!-- <div class="base-image"> -->

  <img class="common" src="../../../assets/analytics-bg-squares.png" alt="" />
  <img class="top-layer" src="../../../assets/analytics-bg.png" alt="" />
  <img src="../../../assets/analytics-top.png" alt="" class="top" />
  <img src="../../../assets/analytics-bg-bottom.png" class="bottom" alt="" />

  <div class="orbit-system">
    <!-- Orbit 1 (500px) -->
    <div class="orbit orbit-1">
      <div class="object obj-1">
        <img src="../../../assets/inner-circle-image-2.png" alt="Object 1" />
      </div>
      <div class="object obj-2">
        <img src="../../../assets/inner-circle-image-1.png" alt="Object 2" />
      </div>
    </div>

    <!-- Orbit 2 (700px) -->
    <div class="orbit orbit-2">
      <div class="object obj-1">
        <img src="../../../assets/middle-circle-image-1.png" alt="Object 4" />
      </div>
      <div class="object obj-2">
        <img src="../../../assets/middle-circle-image-2.png" alt="Object 5" />
      </div>
    </div>

    <!-- Orbit 3 (900px) -->
    <div class="orbit orbit-3">
      <div class="object obj-1">
        <img src="../../../assets/outer-circle-image-1.png" alt="Object 7" />
      </div>
      <div class="object obj-2">
        <img src="../../../assets/outer-circle-image-2.png" alt="Object 8" />
      </div>
    </div>
  </div>

  <div class="text">
    <div class="header-section">
      <p class="header-text">Powering Collaboration Across Media</p>

      <h3>Collaborate. Elevate. Succeed</h3>
      <p>Empower advertisers, agencies, and media owners to work seamlessly.</p>

      <button class="ctaButton">Meet The Experts</button>
    </div>
    <div class="analytics">
      <section>
        <h3>110+</h3>
        <p>Top Agencies Trust Media Ala Carte</p>
      </section>
      <section>
        <h3>1M</h3>
        <p>Advertizetrs Reaching the Right Audience</p>
      </section>
      <section>
        <h3>98.99%</h3>
        <p>Seamless Media Transaction for Owners</p>
      </section>
    </div>
  </div>
</div>
